<%= form_for(@banco, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @banco.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@banco.errors.count, "error") %> prohibited this banco from being saved:</h4>

      <ul>
      <% @banco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sigla, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :sigla, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ni, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ni, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :capital, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :capital, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pais, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :pais, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

  <div style="text-align:right">
    <button type="button" onclick="AdicionarDeposito()">Adicionar Deposito</button>
    <hr>

    <div id="campos-depositos">
    </div>

    <div id="modelo-campos-depositos" style="display:none">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="banco_deposito">Valor</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="banco_deposito[depositos][][valor]" id="banco_deposito_valor">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="banco_deposito">Obs</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="banco_deposito[depositos][][obs]" id="banco_deposito_obs"></textarea>
        </div>
      </div>
    
      <button type="button" class="btn btn-danger" onclick="excluirCamposCliente(this)">Excluir</button>

      <hr>
    </div>
  </div>


<% end %>

<script>
  const AdicionarDeposito = ()=> {
    let html = document.querySelector("#modelo-campos-depositos").innerHTML;
    const dv = document.createElement("div");
    dv.innerHTML = html
    document.querySelector("#campos-depositos").innerHTML += html
  }

  const excluirCamposCliente = (button) => {
    let preenchido = false
    const dv = button.parentNode.parentNode;
    const valor = dv.querySelector('#banco_deposito_valor')
    const obs = dv.querySelector('#banco_deposito_obs')

    if ((valor && valor.value != "") || (obs && obs.valuue != ""))
      preenchido = true

    if (preenchido) {
      if (confirm("Confirma exclusão ? os dados digitados serão perdidos."))
        dv.remove();
        return;
    }

    dv.remove();
  }

</script>




