

<div>

  <form class="form-horizontal" action="/bancos" accept-charset="UTF-8" method="get">

    <div class="form-group">
      <div class="col-sm-12" style="text-align:right">
        <input type="submit" value="Buscar" class="btn btn-primary" data-disable-with="Create Aluno">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="ids">ID</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="ids" value="<%= params[:id] %>">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_nome">Nome</label>
      <div class="col-sm-11">
        <input class="form-control autocomplete-nome-banco" type="text" name="nome" id="banco_nome" value="<%= params[:nome] %>">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_sigla">Sigla</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="sigla" id="banco_sigla" value="<%= params[:sigla] %>">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_email">Email</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="email" id="banco_email" value="<%= params[:email] %>">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_ni">NI</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="ni" id="banco_ni" value="<%= params[:ni] %>">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_pais">Pais</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="pais" id="banco_pais" value="<%= params[:pais] %>">
      </div>
    </div>

    <div class="form-group">    

      <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="capital_ini">Capital inicial</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="capital_ini" id="capital_ini" value="<%= params[:capital] %>">
        </div>
      </div>
      

      <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="capital_fim">Capital final</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="capital_fim" id="capital_fim" value="<%= params[:capital] %>">
        </div>
      </div>
    </div>

    <div class="form-group">    

      <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="data_ini">Data inicial</label>
        <div class="col-sm-9">
          <input class="form-control" type="datetime-local" name="data_ini" id="data_ini" value="<%= params[:data] %>">
        </div>
      </div>
      

      <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="data_fim">Data final</label>
        <div class="col-sm-9">
          <input class="form-control" type="datetime-local" name="data_fim" id="data_fim" value="<%= params[:data] %>">
        </div>
      </div>
    </div>

  </form>

</div>

<div class="page-header">
  <%= link_to new_banco_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Banco
  <% end %>
  <h1>Listagem de bancos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sigla</th>
        <th>Email</th>
        <th>Ni</th>
        <th>Capital</th>
        <th>Pais</th>
        <th hidden>Capital</th>
        <th>Criação</th>
        <th colspan="3" class="text-center">Acções</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bancos) do |banco| %>
        <td><%= banco.id %></td>
        <td><%= banco.nome %></td>
        <td><%= banco.sigla %></td>
        <td><%= banco.email %></td>
        <td><%= banco.ni %></td>
        <td><%= banco.capital %></td>
        <td><%= banco.pais %></td>
        
        <td hidden>
          <ul>
            <%= banco.deposito_bancos do |deposito| %>
              <li> 
                Deposito: <%= deposito.valor %> 
              </li>
            <% end %>
          </ul>
        </td>

        <td><%= banco.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>

        <td>
          <a href="/bancos/<%= banco.id %>" class="btn btn-primary my-2">Ver</a>
          <a href="/bancos/<%= banco.id %>/edit" class="btn btn-warning my-2">Editar</a> 
          <%= link_to 'Destroy', banco, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
