<div class="page-header">
  <%= link_to new_banco_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Banco
  <% end %>
  <h1>Listing bancos</h1>
</div>

<div>

  <form class="form-horizontal" action="/bancos" accept-charset="UTF-8" method="get">

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_nome">Nome</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[nome]" id="banco_nome">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_sigla">Sigla</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[sigla]" id="banco_sigla">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_email">Email</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[email]" id="banco_email">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_ni">NI</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[ni]" id="banco_ni">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_capital">Capital</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[capital]" id="banco_capital">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="banco_pais">Pais</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" name="banco[pais]" id="banco_pais">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12" style="text-align:right">
        <input type="submit" value="Buscar" class="btn btn-primary" data-disable-with="Create Aluno">
      </div>
    </div>

  </form>

</div>



<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Email</th>
            <th>Ni</th>
            <th>Capital</th>
            <th>Pais</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bancos) do |banco| %>
            <td><%= banco.nome %></td>
            <td><%= banco.sigla %></td>
            <td><%= banco.email %></td>
            <td><%= banco.ni %></td>
            <td><%= banco.capital %></td>
            <td><%= banco.pais %></td>
            <td><%= link_to 'Show', banco %></td>
        <td><%= link_to 'Edit', edit_banco_path(banco) %></td>
        <td><%= link_to 'Destroy', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
