<div class="page-header">
  <%= link_to bancos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_banco_path(@banco), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Informações do banco</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @banco.nome %></dd>

  <dt>Sigla:</dt>
  <dd><%= @banco.sigla %></dd>

  <dt>Email:</dt>
  <dd><%= @banco.email %></dd>

  <dt>Ni:</dt>
  <dd><%= @banco.ni %></dd>

  <dt>Capital:</dt>
  <dd><%= @banco.capital %></dd>

  <dt>Pais:</dt>
  <dd><%= @banco.pais %></dd>

  <dt>Depositos:</dt><br>
  <dd>
    <ul>
      <% @banco.deposito_bancos.each do |deposito| %>
        <li> 
          <b>Valor: <%= deposito.valor %> Akz<br>
          <b>Obs: <%= deposito.obs %> Akz<br>
          <hr>
        </li>
      <% end %>
    </ul>
  <dd>
</dl>
