<div class="page-header">
  <%= link_to new_pedido_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Pedido
  <% end %>
  <h1>Listagem de pedidos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Telefone</th>
        <th>Valor total</th>
        <th>Produto</th>
        <th>Preço</th>
        <th colspan="3" class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>

      <% @pedidos.each do |pedido| %>
        <tr>
          <td><%= pedido["pedido_id"] %></td>
          <td><%= pedido["nome"] %></td>
          <td><%= pedido["telefone"] %></td>
          <td><%= pedido["valor_total"] %></td>
          <td><%= pedido["produto_nome"] %></td>
          <td><%= pedido["produto_valor"] %></td>
          <td><%= link_to 'Ver', pedido_path(pedido["pedido_id"]) %></td>
          <td><%= link_to 'Editar', edit_pedido_path(pedido["pedido_id"]) %></td>
          <td><%= link_to 'Apagar', pedido_path(pedido["pedido_id"]) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <div class="paginacao">
    <%= will_paginate @pedidos %>  
  </div>

</div>

