<div class="page-header">
  <%= link_to new_pedidos_produto_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Pedido de Produto
  <% end %>
  <h1>Listagem de pedidos de produtos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Pedido</th>
        <th>Produto</th>
        <th colspan="3" class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedidos_produtos) do |pedidos_produto| %>
        <td><%= pedidos_produto.pedido.cliente.nome %></td>
        <td><%= pedidos_produto.produto.nome %></td>
        <td><%= link_to 'Ver', pedidos_produto %></td>
        <td><%= link_to 'Editar', edit_pedidos_produto_path(pedidos_produto) %></td>
        <td><%= link_to 'Apagar', pedidos_produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="paginacao">
    
    <% if params[:page].to_i > 1 %>  
      <a class="btn btn-primary" href='<%= "/pedidos_produtos?page=#{params[:page].to_i - 1}" %>'> 
        Anterior
      </a>    
    <% end %>

    <% if params[:page].to_i <= @toatl_page %> 
      <a class="btn btn-primary" href='<%= "/pedidos_produtos?page=#{params[:page].to_i + 1}" %>'> 
        Proximo
      </a>    
    <% end %>

  </div>
</div>
